.clock {
  place-self: center;
  z-index: 1;
}

.clock h2 {
    font-size: var(--font-size-2xl);
}

@media (min-width: 300px) {
  .clock h2 {
    font-size: var(--font-size-4xl);
  }
}

@media (min-width: 420px) {
  .clock h2 {
    font-size: var(--font-size-7xl);
    letter-spacing: 2px;
  }
}

@media (max-height: 700px) {
  .clock h2 {
    font-size: var(--font-size-2xl);
  }
}
