.footer {
    justify-self: flex-start;
    align-self: flex-end;
    text-align: start;
    padding: 0.5rem;
    background-color: hsl(var(--clr-text) / 0.15);
    border-radius: var(--b-radius-sm);
    backdrop-filter: blur(1rem);
    font-size: var(--font-size-sm);
    line-height: 1.1;
    z-index: 1;
}

.footer a {
    color: hsl(var(--clr-accent));
    text-decoration: none;
}

.footer a:hover {
    filter: brightness(115%);
}

.footer__description,
.footer__location {
    max-width: 600px;
    display: -webkit-box;   
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}