.greeter {
    align-self: center;
    text-align: center;
    z-index: 1;
  }
  
  input {
    background-color: transparent;
    border: 0;
    border-radius: var(--b-radius-md);
    color: hsl(var(--clr-text));
    text-align: center;
  }
  
  input::placeholder {
    color: hsl(var(--clr-text));
  }
  
  h1 {
    margin-bottom: 1.5rem;
    font-size: var(--font-size-xl);
  }
  
  h2 {
    font-size: var(--font-size-md);
  }
  
  h2 label {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h2 input {
    width: min(75%, 700px);
  }
  
  h1 input:focus-visible,
  h2 input:focus-visible {
    outline: 2px solid hsl(var(--clr-text));
  }
  
  h2 input::placeholder {
    background-color: hsla(var(--clr-text), 0.15);
    backdrop-filter: blur(3rem);
    padding: 0.4rem;
  }
  
  @media (min-width: 300px) {
    h1 {
      font-size: var(--font-size-2xl);
    }
  
    h2 {
      font-size: var(--font-size-lg);
    }
  }
  
  @media (min-width: 768px) {
    h1 {
      margin-bottom: 1.5rem;
      font-size: var(--font-size-3xl);
    }
  }
  
  @media (max-height: 700px) {
    h1 {
      margin-bottom: 1rem;
      font-size: var(--font-size-xl);
    }
  
    h2 {
      font-size: var(--font-size-md);
    }
  }
  