.App {
  overflow: hidden;
}

.wallpaper {
  position: absolute;
  inset: 0;
}

.wallpaper__img {
  width: 100%;
  height: 100%;
  display: block;
  object-position: center;
  object-fit: cover;
}

.contentContainer {
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr auto;
}

.contentContainer::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: hsla(var(--clr-bg), 0.2);
  mix-blend-mode: multiply;
}

.fallback__wallpaper {
  position: absolute;
  inset: 0;
  background-color: hsl(var(--clr-bg));
}
