@font-face {
  font-family: 'Sansburg';
  src: url('/fonts/Sansburg.woff2') format('woff2');
  font-display: swap;
}

:root {
  /* COLORS */
  --clr-text: 0, 0%, 99%;
  --clr-bg: 27, 14%, 12%;
  --clr-accent: 39, 100%, 50%;
  --clr-secondary: 16, 100%, 66%;
  --clr-neutral-0: 0, 0%, 0%;
  --clr-neutral-100: 0, 0%, 10%;
  --clr-neutral-200: 0, 0%, 20%;
  --clr-neutral-300: 0, 0%, 30%;
  --clr-neutral-400: 0, 0%, 40%;
  --clr-neutral-500: 0, 0%, 50%;
  --clr-neutral-600: 0, 0%, 60%;

  /* BORDER-RADIUS */
  --b-radius-sm: 6px;
  --b-radius-md: 12px;
  --b-radius-full: 50%;

  /* FONT SIZES */
  --font-size-sm: clamp(0.83rem, 0.44vw + 0.72rem, 1rem);
  --font-size-base: clamp(1rem, 0.53vw + 0.87rem, 1.2rem);
  --font-size-md: clamp(1.2rem, 0.64vw + 1.04rem, 1.44rem);
  --font-size-lg: clamp(1.44rem, 0.77vw + 1.25rem, 1.73rem);
  --font-size-xl: clamp(1.73rem, 0.92vw + 1.5rem, 2.07rem);
  --font-size-2xl: clamp(2.07rem, 1.11vw + 1.8rem, 2.49rem);
  --font-size-3xl: clamp(2.49rem, 1.33vw + 2.16rem, 2.99rem);
  --font-size-4xl: clamp(2.99rem, 1.57vw + 2.56rem, 3.59rem);
  --font-size-5xl: clamp(3.59rem, 1.83vw + 3.01rem, 4.29rem);
  --font-size-6xl: clamp(4.29rem, 2.14vw + 3.51rem, 5.16rem);
  --font-size-7xl: clamp(7.69rem, 4.97vw + 6.56rem, 9.49rem);

  /* BOX SHADOW */
  --box-shadow-sm: 0 0 0 3px hsl(var(--clr-neutral-400)),
    0 0 0 4px hsla(var(--clr-neutral-400), 0.3),
    inset 0 0 10px hsla(var(--clr-neutral-400), 0.8),
    0 5px 15px hsla(var(--clr-neutral-400), 0.5),
    inset 0 0 15px hsla(var(--clr-neutral-400), 0.2);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Sansburg', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: hsl(var(--clr-text));
}

input,
button,
select,
textarea {
  font: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::selection {
  background-color: hsl(var(--clr-secondary));
  color: white;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.hidden {
  display: none;
}

.opaque {
  opacity: 1;
}