.settings__section {
  place-self: flex-end;
  display: grid;
  margin: 0 0.5rem 0.5rem 0;
  position: relative;
  z-index: 1;
}

.settings__panel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 2rem;
  padding: 3.5rem 2rem 2rem;
  font-size: var(--font-size-sm);
  text-align: center;
  border: 1px dotted currentColor;
  border-radius: var(--b-radius-sm);
  background-color: hsla(var(--clr-text), 0.15);
  backdrop-filter: blur(1rem);
  position: absolute;
  bottom: 5rem;
  right: 3rem;
  opacity: 0;
  transition: opacity 0.2s;
}

.settings__panel.opaque {
  opacity: 1;
}

.settings__panel legend {
  font-size: var(--font-size-base);
  font-weight: bold;
  position: absolute;
  top: 0.5rem;
}

.settings__panel input[type='checkbox'] {
  width: 3rem;
  height: 1.2rem;
  display: block;
  margin-inline: auto;
  margin-block-end: 0.2rem;
  accent-color: hsl(var(--clr-accent));
  appearance: none;
  background: linear-gradient(
    0deg,
    hsl(var(--clr-neutral-600)),
    hsl(var(--clr-neutral-500))
  );
  outline: none;
  cursor: pointer;
  border-radius: var(--b-radius-md);
  position: relative;
  box-shadow: var(--box-shadow-sm);
}

.settings__panel input:checked[type='checkbox'] {
  background: linear-gradient(
    0deg,
    hsl(var(--clr-secondary)),
    hsl(var(--clr-accent))
  );
  box-shadow: 0 0 2px hsl(var(--clr-secondary)), var(--box-shadow-sm);
}

.settings__panel input[type='checkbox']:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
  height: 1.2rem;
  background: linear-gradient(
    0deg,
    hsl(var(--clr-neutral-200)),
    hsl(var(--clr-neutral-500))
  );
  border-radius: var(--b-radius-md);
  box-shadow: 0 0 0 1px hsl(var(--clr-bg));
  transform: scale(0.98, 0.96);
  transition: 0.5s;
}

.settings__panel input:checked[type='checkbox']:before {
  left: 1rem;
}

.settings__panel input[type='checkbox']:after {
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  left: 1.6rem;
  width: 4px;
  height: 4px;
  background: linear-gradient(
    0deg,
    hsl(var(--clr-neutral-500)),
    hsl(var(--clr-neutral-200))
  );
  border-radius: var(--b-radius-full);
  transition: 0.5s;
}

.settings__panel input:checked[type='checkbox']:after {
  left: 2.6rem;
  background: hsl(var(--clr-secondary));
  box-shadow: 0 0 5px hsl(var(--clr-accent)), 0 0 15px hsl(var(--clr-accent));
}

.settings__cog {
  justify-self: flex-end;
  background-color: transparent;
  color: hsl(var(--clr-text));
  border: 0;
  cursor: pointer;
  transition: .2s;
}

.settings__cog:hover {
  filter: brightness(85%);
}

.settings__cog svg {
  transition: all 0.2s linear;
}

.rotateCog {
  rotate: 65deg;
  scale: 1.2;
}

@media (min-width: 768px) {
  .settings__section {
    margin-inline-end: 1rem;
  }
}
