.todos {
  align-self: flex-end;
  padding: 0.5rem;
  position: relative;
  z-index: 1;
}

.todos__modal {
  position: absolute;
  inset: auto 0 3rem 0;
  width: min(75vw, 600px);
  margin-inline: auto;
  padding-block: 2rem;
  display: grid;
  place-content: center;
  text-align: center;
  font-size: var(--font-size-base);
  border: 1px dotted currentColor;
  border-radius: var(--b-radius-sm);
  background-color: hsla(var(--clr-text), 0.15);
  backdrop-filter: blur(1rem);
  opacity: 0;
  transition: opacity 0.2s;
}

.todos__modal.opaque {
  opacity: 1;
}

.todos__modal form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-block-end: 1.4rem;
}

.todos__modal input[type='text']:active,
.todos__modal input[type='text']:focus-visible {
  outline: 1px solid hsl(var(--clr-secondary));
  border-radius: 0;
}

.todos__formBtn {
  display: flex;
  background: transparent;
  border: 0;
  cursor: pointer;
  color: hsl(var(--clr-text));
  transition: 0.2s;
}

.todos__formBtn:hover {
  filter: brightness(90%);
}

.todos__addSvg {
  width: 30px;
  height: 30px;
}

.todos__lineItem {
  margin-block-start: 1rem;
  display: flex;
  align-items: center;
}

.todos__lineItem input[type='checkbox'] {
  accent-color: hsl(var(--clr-accent));
  width: 18px;
  height: 18px;
}

.todos__lineItem input[type='text'] {
  text-align: start;
  margin-inline-start: 0.5rem;
}

.todos__delete {
  color: firebrick;
  background-color: transparent;
  border: 0;
  display: flex;
  cursor: pointer;
  transition: 0.2s;
}

.todos__delete:hover {
  filter: brightness(115%);
}

.todos__toggle {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: 0.2s;
}

.todos__toggle:hover {
  filter: brightness(85%);
}

.todos__svg {
  color: hsl(var(--clr-text));
  width: 1.8rem;
  height: 1.8rem;
}
